#board {
	background-color: #DDD;
	width: 800px;
	height: 600px;
	border: 2px solid black;
	padding: 0px;
	margin: 0px auto;
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
	font-family: monospace;
}

.stack {
	position: absolute;
	width: 196px;
	height: 298px;
	border: 2px solid black;
	border-top: 0px;
}

.block {
	position: absolute;
	height: 46px;
	background-color: #888;
	border: 2px solid black;
}

.labelBlock {
	position: absolute;
	height: 36px;
	background-color: #333;
	border: 2px solid #888;
	left: 0px;
	top: 0px;
	width: 150px;
	color: #F00;
	text-align: center;
	font-size: 30px;
}

#toLabel, #fromLabel {
	top: 455px;
	visibility: hidden;
}